@tailwind base;
@tailwind components;
@tailwind utilities;


/*------------ CUSTOM -------------*/

/* Navbar */
nav .logo-navbar {
    width: 64px;
}
nav .menu ul li a:hover {
    transition: 0.3s;
    opacity: 0.75;
}
/* End Navbar  */

/* Footer */
footer img:hover {
    filter: 
        invert(35%) 
        sepia(4%) 
        saturate(6145%) 
        hue-rotate(184deg) 
        brightness(102%) 
        contrast(112%);
    transition: all 0.3s;
}
/* End Footer */