@tailwind base;
@tailwind components;
@tailwind utilities;


/*------------ CUSTOM -------------*/

/* COMPONENTS */
@layer components {
    .custom-status {
        @apply relative p-2 mt-1 mb-4 border rounded-sm bg-green-200 border-green-300 text-green-800 ;
    }
    .custom-status-error {
        @apply relative p-2 mt-1 mb-4 border rounded-sm bg-red-200 border-red-300 text-red-800 ;
    }
    .custom-label {
        @apply block mb-2 font-bold text-sm sm:text-base;
    }
    .custom-input {
        @apply block w-full text-sm sm:text-base border-gray-300 focus:border-custom-blue focus:ring-custom-blue rounded-sm shadow-sm transition duration-300 ease-in-out;
    }
    .custom-input-file {
        @apply focus:outline-none mb-4 p-1 custom-input border-none shadow-none text-sm file:btn-blue file:border-0 file:mr-4 file:ml-0;
    }
    .custom-error {
        @apply relative pt-2 text-red-600 text-sm sm:text-base;
    }
    .btn-orange {
        @apply block w-full sm:w-1/2 py-2 sm:mx-auto align-middle text-center font-medium border-2 rounded-sm text-sm sm:text-base text-white bg-custom-orange border-custom-orange hover:bg-white hover:text-custom-orange hover:shadow-gray-400 hover:shadow-md transition duration-300 ease-in-out;   
    }
    .btn-comment-orange {
        @apply block w-full sm:w-auto px-6 py-1 ml-auto align-middle text-center font-medium text-sm sm:text-base border-2 rounded-sm text-white bg-custom-orange border-custom-orange hover:bg-white hover:text-custom-orange hover:shadow-gray-400 hover:shadow-md transition duration-300 ease-in-out;   
    }
    .btn-blue {
        @apply inline-block ml-4 py-1 px-6 align-middle text-center text-sm sm:text-base font-medium rounded-sm text-white bg-custom-blue hover:bg-blue-600 hover:shadow-gray-400 hover:shadow-md transition duration-150 ease-in-out;   
    }
    .btn-green {
        @apply inline-block ml-4 py-1 px-6 align-middle text-center text-sm sm:text-base font-medium rounded-sm text-white bg-green-500 hover:bg-green-600 hover:shadow-gray-400 hover:shadow-md transition duration-150 ease-in-out;   
    }
    .btn-red {
        @apply inline-block ml-4 py-1 px-6 align-middle text-center text-sm sm:text-base font-medium rounded-sm text-white bg-red-500 hover:bg-red-600 hover:shadow-gray-400 hover:shadow-md transition duration-150 ease-in-out;   
    }
    .btn-dark-blue {
        @apply inline-block ml-4 py-1 px-6 align-middle text-center text-sm sm:text-base font-medium rounded-sm text-white bg-custom-dark-blue hover:bg-indigo-800 hover:shadow-gray-400 hover:shadow-md transition duration-150 ease-in-out;   
    }
    .link-blue {
        @apply inline-block ml-4 py-1 align-middle text-center text-xs sm:text-sm font-medium text-custom-blue hover:underline transition duration-150 ease-in-out;   
    }
    .link-green {
        @apply inline-block ml-4 py-1 align-middle text-center text-xs sm:text-sm font-medium text-green-500 hover:underline transition duration-150 ease-in-out;   
    }
    .link-red {
        @apply inline-block ml-4 py-1 align-middle text-center text-xs sm:text-sm font-medium text-red-500 hover:underline transition duration-150 ease-in-out;   
    }
    .thumbnail {
        @apply border p-[2px] border-custom-blue rounded-md hover:scale-[102%] transition duration-300 ease-in-out;
    }
}
/* END COMPONENTS */

/* NAVBAR */
nav .logo-navbar {
    width: 64px;
}
nav .menu ul li a:hover {
    transition: 0.3s;
    opacity: 0.75;
}
/* END NAVBAR  */


/* POWERGRID */
.btn-show {
    margin: 0.25rem 0 auto 0;
    width: 32px;
    height: 32px;
    background-color: #333;
    mask: url(/public/assets/images/eye.svg) no-repeat 50% 50%;
    -webkit-mask: url(/public/assets/images/eye.svg) no-repeat 50% 50%;
    mask-size: contain;
    transition-duration: 300ms;
}
.btn-show:hover {
    background-color: #2ea3f2;
    transform: scale(1.02, 1.12);
}
.btn-edit {
    margin: auto 0;
    margin-left: 1rem;
    width: 22px;
    height: 22px;
    background-color: #333;
    mask: url(/public/assets/images/pen.svg) no-repeat 50% 50%;
    -webkit-mask: url(/public/assets/images/pen.svg) no-repeat 50% 50%;
    mask-size: contain;
    transition-duration: 300ms;
}
.btn-edit:hover {
    background-color: #2ea3f2;
    transform: scale(1.12, 1.05);
}
.btn-delete {
    margin: 6px 0 auto 1rem;
    width: 24px;
    height: 24px;
    background-color: #ef4444;
    mask: url(/public/assets/images/trash.svg) no-repeat 50% 50%;
    -webkit-mask: url(/public/assets/images/trash.svg) no-repeat 50% 50%;
    mask-size: contain;
    transition-duration: 300ms;
}
.btn-delete:hover {
    background-color: #dc2626;
    transform: scale(1.1);
}
/* END POWERGRID  */


/* FOOTER */
footer img:hover {
    filter: 
        invert(35%) 
        sepia(4%) 
        saturate(6145%) 
        hue-rotate(184deg) 
        brightness(102%) 
        contrast(112%);
    transition: all 0.3s;
}
/* END FOOTER */